ldap.hostnames:
	- 'ldaps://perun.cesnet.cz'
ldap.user: ''
ldap.password: ''
ldap.base: 'dc=perun,dc=cesnet,dc=cz'

rpc.hostname: 'https://perun-dev.cesnet.cz/ba/rpc/'
rpc.user: '
rpc.password: ''

perun_attr_map_file: '/perun/micro_services/configurations/perun_test_attributes_map.yaml'